﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.form-signin {
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

body {
    background-color: #eee;
}

input.input-validation-error {
	border: 1px #b94a48 solid;
}

.login-errors {
	padding: 10px;
	text-align: center;
}

.hiddenSoft {
	display: none;
}

.table-content {
	border-top: 1px solid #dddddd !important;
}

.searchBox {
	max-width: 200px;
	margin: 10px;
}

.edit-form {
	max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.padding-bot-10 {
	padding-bottom: 10px;
}

.contact-row {
	min-height: 25px;
}

.contact-actions {
	float: right;
}

.validation-errors {
	padding: 10px;
	text-align: right;
    list-style-type: none;
}

.validation-errors ul {
    list-style-type: none;
}

.margin-top-40 {
	margin-top: 40px;
}

.header-username {
	padding: 15px;
}