﻿@model IEnumerable<AddressBook.ViewModels.Person>
<tbody class="table-content hiddenSoft">
	@foreach (var item in Model)
	{

		<tr>
			<td class="col-md-1">
				<a href="@Url.Action("Create", "Contacts", new {personId = item.Id})"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
				<a href="@Url.Action("Edit", "People", new { personId = item.Id })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				<a class="delete-people" href="#" data-url="@Url.Action("Delete", "People", new { personId = item.Id })"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			</td>
			<td class="col-md-1">
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td class="col-md-1">
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.Birthdate)
			</td>
			<td class="col-md-3">
				@foreach (var contact in item.Contacts)
				{
					<div class="contact-row">
						@Html.DisplayFor(modelItem => contact.Address)
					</div>
				}
			</td>
			<td class="col-md-1">
				@foreach (var contact in item.Contacts)
				{
					<div class="contact-row">
						@Html.DisplayFor(modelItem => contact.PhoneNumber)
					</div>
				}
			</td>
			<td class="col-md-2">
				@foreach (var contact in item.Contacts)
				{
					<div class="contact-row">
						<div>
							@Html.DisplayFor(modelItem => contact.Email)
						</div>
					</div>
				}
			</td>
			<td class="col-md-1">
				@foreach (var contact in item.Contacts)
				{
					<div class="contact-row">
						<div class="contact-actions">
							<a href="@Url.Action("Edit", "Contacts", new { contactId = contact.Id })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							<a class="delete-contact" href="#" data-url="@Url.Action("Delete", "Contacts", new { contactId = contact.Id })"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
						</div>
					</div>
				}
			</td>
		</tr>

	}
</tbody>
