﻿@model IEnumerable<AddressBook.ViewModels.Person>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<div class="table-responsive">
	<table class="table contactsTable" data-url="@Url.Action("GetList", "People")">
		<thead>
			<tr>
				<th class="col-md-1"></th>
				<th class="col-md-1">@Html.DisplayNameFor(model => model.Name)</th>
				<th class="col-md-1">@Html.DisplayNameFor(model => model.LastName)</th>
				<th class="col-md-2">@Html.DisplayNameFor(model => model.Birthdate)</th>
				<th class="col-md-3">Address</th>
				<th class="col-md-1">Phone</th>
				<th class="col-md-2">Email</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		@{ Html.RenderPartial("_ListInner", Model); }
	</table>
	<div class="text-center">
		<span class="scrollInfo">Scroll down for more...</span>
	</div>
</div>

@section Scripts {
@Scripts.Render("~/scripts/list")
}
