﻿@model AddressBook.ViewModels.Person

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Manage", "People", FormMethod.Post, new { @class = "edit-form" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Id)

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "true", autofocus = "" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			@Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<div class="input-group date">
					@Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
			</div>
		</div>
	</div>
}

@section Scripts {
	<script>
		$(function() {
			$("#Birthdate").datepicker({ format: "yyyy-mm-dd" });
		});
	</script>
}
