﻿@using AddressBook.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
	@Html.AntiForgeryToken()
	@Html.LabelFor(m => m.Username, new { @class = "sr-only" })
	@Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", placeholder = "Username", required = "true", autofocus = "" })
	@Html.LabelFor(m => m.Password, new { @class = "sr-only" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password", required = "true" })
	<div class="checkbox">
		@Html.CheckBoxFor(m => m.RememberMe)
		@Html.LabelFor(m => m.RememberMe)
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	<div>
		@Html.ActionLink("Register", "Register", "Account")
	</div>
	<div class="login-errors">
		@Html.ValidationMessage("AuthFailed", new { @class = "text-danger" })
	</div>
}

