﻿@model AddressBook.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.LabelFor(m => m.Username, new { @class = "sr-only" })
	@Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", placeholder = "Username", required = "true", autofocus = "" })
	@Html.LabelFor(m => m.Email, new { @class = "sr-only" })
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "Email", required = "true", type="Email" })
	@Html.LabelFor(m => m.Password, new { @class = "sr-only" })
	@Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password", required = "true" })
	@Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
	@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm Password", required = "true" })

	<button class="btn btn-lg btn-primary btn-block margin-top-40" type="submit">Log in</button>
	<div>
		@Html.ActionLink("Log in", "Login", "Account")
	</div>
	@Html.ValidationSummary("", new { @class = "text-danger validation-errors" })

}

